@import url('https://fonts.googleapis.com/css2?family=Days+One&display=swap');

/* width */
::-webkit-scrollbar {
  width: 10px;
  background: #252525; 
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ffc107; 
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffc107; 
}

.navbar {
    background-color: #252525 !important;
}

body {
    background-image: url("https://wallpapercave.com/wp/pEeUsp1.jpg");
    background-color: #000;
}

h1 {
    margin-top: 35px;
    margin-bottom: 35px;
    color: #ffc107;
    font-weight: bolder;
    text-transform: uppercase;
    text-align: center;
    font-family: 'Days One', sans-serif;
    font-size: 2.5rem;
}

.overflow-auto {
    overflow: auto;
}

.card {
    background-color: #000 !important;
}

.card-body {
    background-color: #252525 !important;
}

.card-title {
    font-size: 1.5em;
    color: #ffc107;
    font-family: 'Days One', sans-serif;
}

.card-text {
    color: #fff;
}

.footer-text {
    color: #fff;
}